.card {
  padding: 1rem;
  margin: 2rem;
  background: #313131;
  color: #fff;
  border-radius: 5px;
  text-align: left;
}

.card h2 {
  margin-bottom: 1rem;

}

.card img {
  height: 10rem;
}

.blue {
  color: blue
}

.green {
  color: green
}
