<div class="card">
  <img [src]="urlLogo" [alt]="card.title">
  <h2 [ngStyle]="{
    color: card.title.length < 5 ? 'red' : 'green',
    fontWeigth: card.title.length < 5 ? 'bold' : 'normal'
  }">{{ index }}. {{ card.title }}</h2>
  <!-- <input (input)="inputHandler(myInput.value)" #myInput type="text" [value]="title"> -->
  <input type="text" [(ngModel)]="card.title" (ngModelChange)="changeHandler()">
  <button (click)="changeTitle()">change title</button>
  <p class="text" [ngClass]="{
      blue: textColor === 'blue',
      green: textColor === 'green'
  }">{{card.text}}</p>
  <p class="text" [class.blue]="textColor === 'blue'" [class.green]="textColor === 'green'">{{card.text}}</p>
  <button (click)="textColor = 'blue'">set blue</button>
  <button (click)="textColor = 'green'">set green</button>
  <pre>{{obj | json}}</pre>
  <small>{{cardDate | date:'dd MMMM yyyy':null:'ru'}}</small>
  <strong>{{ getInfo() }}</strong>

</div>
