<div class="container">
  <h1>Hello Angular</h1>
  <hr>
  <button (click)="toggleCards()">Toggle cards</button>
  <hr>
  <app-form></app-form>

  <div *ngIf="toggle; else noCards">
    <app-card *ngFor="let card of cards; let idx = index" [index]="idx" [card]="card"></app-card>


  </div>
  <ng-template #noCards>
    <p>Cards are hidden</p>
  </ng-template>
</div>
